html {
    font-size: 25px;
}

body {
    background-color: #f7f7f7;
    color: #333;
    min-height: 150vh;
    max-width: 1500px;
    margin: 0 auto;
    padding: 1rem;
    border-left: 1px dotted #333;
    border-right: 1px double #333;
}

th, td, caption {
    border: 1px solid #333;
    font-family: 'Courier New', Courier, monospace;
    border-collapse: collapse;
    padding: 0.5rem;
}
a:default {
    color: #cccccc;
}

a:active {
    color: #fff;
}

a:hover {
    color: #4567b7;
}

a:visited {
    color: #808080;
}

a {
    text-decoration: none;
}

/* #wrapper {
    background: #fff;
    opacity: 0.2;
    height: 100vh;
  }  */
  header {
    background-color: #2e4053;
    color: #fff;
    border: 30px, double, burlywood;
    /* border-radius: 50px; */
    border-top: 10px solid #4567b7;
       border-bottom: 20px dotted #4567b7;
       border-left: 30px double #2e4053;
       border-right: 30px solid #2e4053;
       /* border-radius: 40px; */
       border-top-left-radius: 40px;
       border-top-right-radius: 40px;
       border-bottom-right-radius: 50px;
    }

    main {
        background-color: #f7f7f7;
        color: #666;
       }

       h1 {
        background-color: #333;
        color: #4567b7;
       }

footer {
    background-color: #333;
    color: #fff;
}
       